body{
  background-color: rgb(204, 204, 204);
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.container-bg {
    background: white;
    text-align: center;
  }

  .card {
    background: white;
    padding: 25x;
    text-align: center;
  }
  
.teal {
    color: rgb(1, 156, 156);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
.navbar {
    background: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
.right-margin{
    margin-right: 60px;
  }
